<li id="blogpost-<%= blogpost.id %>">
  <span class="user"><%= blogpost.user.name %></span>
  <span class="content"><%= blogpost.content %></span>
  <span class="timestamp">
    Posted <%= (blogpost.created_at) %>
  </span>
</li>
