
<div id="all_services_container" class='selected'>
	<div id="service_folder">
		<div class="full_photo">
			<%= image_tag("warehouse.jpg", class: "selected_service_photo") %>
		</div>

		
		<%= render 'tabs/services_photos' %>
	</div>
	<div id="description_folder">		
		<%= render "service_descriptions/warehousing" %>
	</div>
</div>