<!-- Place somewhere in the <body> of your page -->
<div class="flexslider">
  <ul class="slides">
    <li>
      <%= image_tag("warehouse.jpg", class: "banner_image") %>
    </li>
    <li>
      <%= image_tag("drayage.jpg", class: "banner_image") %>
    </li>
    <li>
      <%= image_tag("transloading.jpg", class: "banner_image") %>
    </li>
  </ul>
</div>

