<p>Hello World</p>

<div id="background-pallette">
	<div id="background-screen">
		

		<%= render 'layouts/header' %>

		<%= render 'layouts/scrolling_pictures' %>

		<% for i in 1..100 %>
			<p><%="#{i}"%></p>
		<% end %>
	</div>
</div>

<footer id="footer">

</footer>