<!-- Place somewhere in the <body> of your page 
<div class="flexslider">
  <ul class="slides">
    <li>
      <%= image_tag("warehouse.jpg", class: "banner_image") %>
    </li>
    <li>
      <%= image_tag("drayage.jpg", class: "banner_image") %>
    </li>
    <li>
      <%= image_tag("transloading.jpg", class: "banner_image") %>
    </li>
  </ul>
</div>
-->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.1.1/flickity.pkgd.js"></script>


<div class="gallery js-flickity">
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
  <div class="gallery-cell"></div>
</div>