<div id="map_holder"> 
  <div id="first_map">
     <h2>Maryland</h2>
     <div class="outline_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234745.40818395818!2d-76.5855359718491!3d39.37160048222589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c8075179c4efcb%3A0xa5c3ab11cd2bf104!2sUniversal+Trade+Solutions!5e0!3m2!1sen!2sus!4v1448142246978" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    <h3>4000 Universal Trade Drive<br>
        Baltimore, MD 21222<br>
        5 Miles from Port of Baltimore</h3>
  </div>
  <div id="second_map">
    <h2>South Carolina</h2>
      <div class="outline_map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1733179.6278378002!2d-81.2308178!3d31.9577371!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f8d573e1475129%3A0xaf48e265f1f417a2!2s1525+Charleston+Hwy%2C+Orangeburg%2C+SC+29115!5e0!3m2!1sen!2sus!4v1448143495862" width="500" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    <h3>1525 Charleston Highway<br>
      Orangeburg, SC 29115<br>
      877.343.9435
    </h3>

  </div>
</div>
<div style="clear: both;"></div>