<% provide(services = ["warehousing", "transloading", "drayage",
	"stripping", "packaging", "rail_access", "welding", "trucking"]) %>

			<div id="all_services_container" class='selected'>
				<div id="service_folder">
					<%= render 'tabs/services_photos' %>
				</div>
				<div id="description_folder">
					
					<%= render "service_descriptions/#{services[0]}" %>
	
				</div>
			</div>


<footer id="footer">

</footer>