<% provide(services = ["warehousing", "transloading", "drayage",
	"stripping", "packaging", "rail_access", "welding", "trucking"]) %>

			<div id="all_services_container" class='selected'>
				<%= render 'tabs/services_photos' %>
				
				<% for i in 0..7 %>
					<%= render "service_descriptions/#{services[i]}" %>
				<% end %>
			</div>


<footer id="footer">

</footer>