<div id="drayage_container" class="service_overview">
	<h3 class="service_head">
		Drayage
	</h3>

	<p class="service_description">
	
UTS provides dray service to and from the ports of Baltimore, Charleston, and Savannah.  Fraley and Schilling trucks carry permits that allow them to gross 90,000lbs within the surrounding states.  This allows our customers to take full advantage of moving as much material as possible within a container while importing or exporting. 

	</p>
</div>