<div id="packaging_container" class="service_overview">
	<h3 class="service_head">
		Packaging
	</h3>

	<p class="service_description">
	
 
		UTS designs and builds custom packaging to protect product and reduce cycle times of future handling. 

		This value added service can save considerable time by minimizing fork lift travel, operator labor, and overall loading and unloading times.

	</p>
</div>