<div id="rail_access_container" class="service_overview">
	<h3 class="service_head">
		Rail Access
	</h3>

	<p class="service_description">
	
 	Serviced by a ten car Norfolk Southern rail siding, your freight is transloaded to our warehouse, into a container, or onto a truck.  


UTS specializes in loading and offloading steel products from rail cars.  Shipping by rail may provide cost savings to you compared to shipping via truck. 


UTS provides one of the only rail transloading services in the area.  Heavy weights are one of our specialties.  Our lifts often load and unload product weighing 45,000 to 50,000 lbs.
We have the capability to lift single items weighing up to 65,000 lbs.  


UTS routinely loads and unloasd long length products from rail cars at our rail side.  We add even more value for our customers by coordinating the necessary permits and delivery for over length and over width loads. F&S trucking has stretch trailers on site than can deliver lengths up to 100 feet.         

	</p>
</div>