<div id="stripping_container" class="service_overview">
	<h3 class="service_head">
		Container Stripping and Stuffing
	</h3>

	<p class="service_description">
	
 	UTS provides stripping and stuffing service for imported and exported containers.  UTS uses a variety of forklifts and packaging tools to efficiently load and unload containers. 

	The forklifts range from small, 8,000 lbs capacity, to our newest and largest machine to date that can handle up to 65,000 lbs.

	</p>
</div>