<div id="transloading_container" class="service_overview">
	<h3 class="service_head">
		Transloading
	</h3>

	<p class="service_description">

	Transloading - One of UTS's specialties is handling metal products in a cost effective and efficient manner.  UTS has equipment capable of transloading from ocean containers to flatbed or vans or from rail car to truck.  UTS also transloads a number of other products including brick, lumber, machinery, and supersacks.  

	</p>
</div>