<div id="trucking_container" class="service_overview">
	<h3 class="service_head">
		Trucking
	</h3>

	<p class="service_description">
	
 		Universal Trade Solutions provides inland freight service for many of its customers, both from storage and transloads out of containers. UTS has partnered with Fraley and Schilling, Inc. to provide its customers with exclusive use in Baltimore.  This exclusivity provides UTS's customers with guaranteed service and the unique abilities that Fraley and Schilling's trucks provide.

		Fraley and Schilling specializes in providing its customers with a fleet of ultralight equipment.  With this equipment, they are often able to haul up to 20% more weight than the competition.  Flat beds, vans, flex/conestoga, and stretch trailers capable of hauling lengths up to 100' long are dispatched from the terminal on site at UTS.  For more information on their capabilities, please visit their website at www.fraleyandschilling.com.

		Third party logistic service is also available.  If Fraley and Schilling is unable to service the lane that a customer requests, it will use its carrier base to find the right truck for the load.  	

	</p>
</div>