<div id="warehouse_container" class="service_overview">
	<h3 class="service_head">
		Warehousing
	</h3>

	<p class="service_description">

	<span class="firstWord">Warehousing - </span>UTS provides personalized customer service storing all forms of steel, aluminum, bulk commodities in supersacks, heavy industrial products, and wood products. 

	UTS offers a number of different options for its customers to meet their needs.  Indoor storage is available for materials that need to stay in a dry environment.  Our Baltimore and Orangeburg warehouses combined offer over 175,000 square feet of storage space.  Outdoor storage is available at both locations for materials such as H-Piling, I-Beams, secondary coils, or machinery.  We currently have over 20 acres of available space for outdoor storage.  

	Storage rates are dependent on the length, indoor or outdoor, and the type of product.  Rates can be customized to the needs of each customer.  

	</p>
</div>