<div id="welding_container" class="service_overview">
	<h3 class="service_head">
		Welding and Light Manufacturing
	</h3>

	<p class="service_description">
		<span class="firstWord">Welding and Light Manufacturing - </span>Welding and torch cutting of metal products is done on location.  UTS has portable equipment that can be moved to where it is most convenient to work on large products.  This saves times and minimizes movement and handling of these large items. 
 

	</p>
</div>