@import "bootstrap-sprockets";
@import "bootstrap";

/*backdrop */

body { 

  background: url(red_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://media02.hongkiat.com/oversized-background-image-design/bg.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://media02.hongkiat.com/oversized-background-image-design/bg.jpg', sizingMethod='scale');
}

#push_down{
	position:absolute;
	width: 100%;
}
#background-pallette {
	position: relative;
	margin-top: 20px;
	width:90%;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
	float:center;
	background-color: black;

}

#background-screen{
	width: auto;	
	background-color: #FFFFF2;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
}

/* Scrolling Photos */
#main_photo {
	width: 100%;
	height: auto;
	border-color: black;
	border-style: solid;
	border-width: 5px;
}
p {
	color: black;
}
/* Header */
#header_container{
	margin-top: 20px;
	text-align: center;
}


#header_list li {
	display: inline;
	font-size: 20pt;
	margin-left: 5%;
	margin-right: 5%;
}

a{
	color: black;
	&:hover{
		color: black;
		text-decoration: none;
	}

}



footer {
	height: 100px;
}

#logo_container{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Services */
.service_photos{
	width: 24%;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	opacity: 0.6;
}

.selected_service_photo {
	width: 24%;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	border-style: solid;
	border-color: black;
	border-width: 2px;


}

#services_container{
	margin-top: 30px;
	width: 100%;

	/*
	border-color: gray;
	border-width: 5px;
	border-style: solid;
	border-radius: 25px;
	padding-top: 10px;
	*/
	
}

#services_container ul li{
	display: inline;
}

#services_container ul {
	height: 175px;
}

/* Service Descriptions */

.service_head {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	text-decoration: underline;
	font-weight: bold;
	font-size: 35pt;
}

.service_description {
	margin-left: 10%;
	margin-right: 10%;
	text-indent: 50px;
	font-family: serif;
}
.service_overview{
	display: none;
}



/*experiment */


