@import "bootstrap-sprockets";
@import "bootstrap";

/*backdrop */

html, body{
	height: 100%;
	width: 100%;


}


body { 

	

  background: url(red_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://media02.hongkiat.com/oversized-background-image-design/bg.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://media02.hongkiat.com/oversized-background-image-design/bg.jpg', sizingMethod='scale');

}




#background-screen{
	position: absolute;
	width: 90%;	
	background-color: #FFFFF2;
	padding-bottom: 50px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 10px;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	min-height: 95%;
	height: auto;




}
/*
#background_tab{
	background-color: #FFE4C4;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	background-opacity: 0.5;
}
*/
/* Scrolling Photos */
#main_photo {
	width: 100%;
	height: auto;
	border-color: black;
	border-style: solid;
	border-width: 5px;
}
p {
	color: black;
}
/* Header */
hr{
	margin-bottom: 50px;
}

#header_container{
	margin-top: 20px;
	text-align: center;	
	width: 100%;
	margin-bottom: 0;


}


#header_list li {
	display: inline-block;
	font-size: 20pt;
	padding-left: 2%;
	padding-right: 2%;
}

li a{
	color: black;
	&:hover{
		color: black;
		text-decoration: none;
	}

}

.on_page{
	/*
	border: 2px dotted #F00;
	*/
	border-bottom: 0;
	border-top: 0;
	padding: 10px;
	font-weight: bold;

}



footer {
	height: 100px;
}

#logo_container{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 45px;
	margin-bottom: 50px;


}

h1{
	
	font-size: 45pt;
	font-weight: bold;
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;



}
a img{
		display: inline-block;



}




/* Services */

/*
.service_photos{
	width: 24%;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	opacity: 0.6;
}

.selected_service_photo {
	width: 24%;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	border-style: solid;
	border-color: black;
	border-width: 2px;


}

#services_container{
	margin-top: 30px;
	width: 100%;

	/*
	border-color: gray;
	border-width: 5px;
	border-style: solid;
	border-radius: 25px;
	padding-top: 10px;
	*/

	/*
}

#services_container ul li{
	display: inline;
}


#first_four_photos {
	height: 175px;
}
#last_four_photos{
	height:175px;
}

/*Service Testing */
#services_container{
	width: 100%;

	height: 475px;
}
.test{
	width: 95%;
	height: 45%;
	margin: auto;
	margin-bottom: 20px;
	clear: both;


}
.pic_and_desc{
	width: 24.5%;

	height: 100px;
	display: inline-block;
	margin: auto;
	text-align: center;

}
.selected_service_photo{
	width: 100%;
	height: 175px;
	border: 2px solid black;


}
.service_photos{
	border: 5px solid #FFFFF2;
	width: 100%;
	height: 175px;
	/*
	opacity: 0.5;
*/
}

.service_label{
	vertical-align: middle;
	font-size: 15pt;

}


/* Service Descriptions */

.service_head {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	font-weight: none;
	font-size: 20pt;
	display: none;
}

.service_description {
	margin-left: 10%;
	margin-right: 10%;
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue";
	font-size: 14pt
}
.service_overview{
	display: none;
}







/* Map */

#map_holder {
	margin-top: 60px;
	text-align: center;
	display: inline;
	width: 100%;
}

#first_map{
	width: 45%;
	float: left;
	margin-left: 2.5%;


}
#second_map{
	width:45%;
	float: right;
	margin-right: 2.5%;
}

h2{
	font-weight: bold;
	margin-bottom: 20px;
}
.outline_map{
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	border-color: #DC143C;
}
iframe{
	width: 100%;

}

/*experiment */

.faded_out{
	display: none;
}
.selected{}

hr {
  border:none;
  border-top:2px solid #f00;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:75%;
  margin-top: 0;
}
/* About Us */

#all_about_us_container{
	margin-top: 50px;
}

#all_location_container{
	overflow: auto;
}
#about_paragraph{
	margin-left: 10%;
	margin-right: 10%;
	text-indent: 50px;
	font-family: Arial, "Helvetica Neue";
	font-size: 14pt
}

/* Contact */

#contact_left{
	float: left;
	text-align: center;
	width: 45%;
	margin-left:5%;

}

#contact_right{

	float: right;
	text-align: center;
	width: 45%;
	margin-right:5%;

}

.row{
	width: 85%;
	margin: auto;
}
#contact_message{
	height: 350px;
	width: 100%;
}

#contact_container div div p{
	font-size: 18pt;
}

#contact_container h3 {
	font-size: 25pt;
	margin-bottom: 50px;
}

#contact_container div div a{
	font-size: 16pt;
}

h4{
	clear: both;
	text-align: center;
	font-size: 20pt;
	margin-top: 70px;
}

/* Recent News */

.col-md-8{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	
}


.row{
	text-align: center;
}


#login_head{
	text-align: center;
	font-size: 20pt;
	float: left;
	margin-left: 20%;

}


#login_button{
	margin-top: 20px;
}
#logout_button{

	float:right;
	margin-right: 20%;
}

.more{
	border-left: 1px solid red;
	padding-left: 20px;
	margin-bottom: 30px;
}
.blogposts{
	list-style: none;
}

.timestamp{
	margin-bottom: 50px;
}


/* Login Form and Update form*/
#blogpost_button{
	margin-right: 10%;
	float: right;
}
#edit_option{
	float: right;
	margin-right: 10%;
}

#name{
	float: left;
	margin-left: 20%;
}

.login_form{
	float: left;

	width:50%;
	clear: both;
}

.col-md-4{
	width: 100%;
}

.field{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;

}
#blogpost_content{
	width: 100%;
	height: 400px;
}