@import "bootstrap-sprockets";
@import "bootstrap";

/*backdrop */

html, body{
	height: 100%;
	width: 100%;


}


body { 

	

  background: url(red_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://media02.hongkiat.com/oversized-background-image-design/bg.jpg', sizingMethod='scale')";
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.http://media02.hongkiat.com/oversized-background-image-design/bg.jpg', sizingMethod='scale');

}




#background-screen{
	position: absolute;
	width: 90%;	
	background-color: #FFFFF2;
	padding-bottom: 50px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 10px;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	min-height: 95%;
	height: auto;




}
/*
#background_tab{
	background-color: #FFE4C4;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	background-opacity: 0.5;
}
*/
/* Scrolling Photos */
#main_photo {
	width: 100%;
	height: auto;
	border-color: black;
	border-style: solid;
	border-width: 5px;
}
p {
	color: black;
}
/* Header */
hr{
	margin-bottom: 50px;
}

#header_container{
	margin-top: 20px;
	text-align: center;	

}


#header_list li {
	display: inline;
	font-size: 20pt;
	margin-left: 3%;
	margin-right: 3%;
}

li a{
	color: black;
	&:hover{
		color: black;
		text-decoration: none;
	}

}



footer {
	height: 100px;
}

#logo_container{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Services */
.service_photos{
	width: 24%;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	opacity: 0.6;
}

.selected_service_photo {
	width: 24%;
	height: 100%;
	margin-left: 0;
	margin-right: 0;
	border-style: solid;
	border-color: black;
	border-width: 2px;


}

#services_container{
	margin-top: 30px;
	width: 100%;

	/*
	border-color: gray;
	border-width: 5px;
	border-style: solid;
	border-radius: 25px;
	padding-top: 10px;
	*/
	
}

#services_container ul li{
	display: inline;
}

#services_container ul {
	height: 175px;
}

/* Service Descriptions */

.service_head {
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10%;
	font-weight: bold;
	font-size: 30pt;
}

.service_description {
	margin-left: 10%;
	margin-right: 10%;
	text-indent: 50px;
	font-family: serif;
	font-size: 16pt
}
.service_overview{
	display: none;
}






/* Map */

#map_holder {
	margin-top: 60px;
	text-align: center;
	display: inline;
	width: 100%;
}

#first_map{
	width: 45%;
	float: left;
	margin-left: 2.5%;


}
#second_map{
	width:45%;
	float: right;
	margin-right: 2.5%;
}

h2{
	font-weight: bold;
	margin-bottom: 20px;
}
.outline_map{
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	border-color: #DC143C;
}
iframe{
	width: 100%;

}

/*experiment */

.faded_out{
	display: none;
}
.selected{}

hr {
  border:none;
  border-top:2px dotted #f00;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:75%;
}
/* About Us */

#all_about_us_container{
	margin-top: 50px;
}

#all_location_container{
	overflow: auto;
}

/* Contact */

#contact_left{
	float: left;
	text-align: center;
	width: 45%;
	margin-left:5%;

}

#contact_right{

	float: right;
	text-align: center;
	width: 45%;
	margin-right:5%;

}

.row{
	width: 85%;
	margin: auto;
}
#contact_message{
	height: 350px;
	width: 100%;
}

#contact_container div div p{
	font-size: 18pt;
}

#contact_container h3 {
	font-size: 25pt;
	margin-bottom: 50px;
}

#contact_container div div a{
	font-size: 16pt;
}

h4{
	clear: both;
	text-align: center;
	font-size: 20pt;
	margin-top: 70px;
}