
<header>
	<div id="header_container">
		<ul id="header_list">
			<li><a href="#">Services</a></li>
			<li><a href="#">Recent News</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	<div>
</header>
