
<header>
	<div id="header_container">
		<ul id="header_list">
			<li id="services_button">Services</li>
			<li><a href="#">Recent News</a></li>
			<li id="about_us_button">About Us</li>
			<li><a href="#">Contact</a></li>
		</ul>
	<div>
</header>
